#app {
  height: 100vh;
  overflow: hidden;
  .page-loading {
    font-size: 24px;
    text-align: center;
    padding-top: 130px;
  }
  .page-subpage {
    width: 100%;
    height: 100%;
  }
  .page-all {
    height: 100%;
    position: relative;
    padding-bottom: 70px;
    background: #f7f8fa;

    .app-header {
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #fff;
      margin-bottom: 20px;
      // padding: 0 40px;
      padding: 0 20px;
      color: #000;
      position: relative;
      overflow-y: hidden;
      // &:after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   z-index: 222;
      //   background-color: #fff;
      // }
    }

    .main {
      width: 100%;
      height: calc(100% - 100px);
      box-sizing: border-box;
      background: #f7f8fa;
      // min-height: 740px;
      // padding-bottom: 20px;
      margin-bottom: 20px;
      display: flex;
      .side-nav, .left-nav {
        border-radius: 6px 6px 0px 0px;
        background: #fff;
        width: 200px;
      }
      .content {
        margin-left: 20px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100% - 230px);
        margin-right: 10px;
        background: #fff;
        position: relative;
        .csl-watermark {
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 9999;
          pointer-events: none;
        }
      }
    }
    .only-main {
      display: block;
      height: calc(100vh - 40px);
      margin-top: 20px;
      .content {
        width: 100%;
        margin: 0 20px;
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      height: 70px;
      line-height: 70px;
      padding: 0 40px;
      text-align: right;
      background: #fff;
      box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,0.12);
    }
  }



  // 全局公共样式


  .el-button--primary{ // 0d84ff
    --el-button-active-background-color: var(--theme-color);
    --el-button-active-border-color:  var(--theme-color);
  }
  .bbt-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .dom-router, .dom-hover-router:hover {
    transform: rotate(666turn);
    transition-delay: 1s;
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
  }
}
