#app {
  height: 100vh;
  overflow: hidden;
  .page-loading {
    font-size: 24px;
    text-align: center;
    padding-top: 130px;
  }
  .page-subpage {
    width: 100%;
    height: 100%;
  }
  .page-all {
    height: 100%;
    position: relative;
    padding-bottom: 70px;
    background: #f7f8fa;

    .header {
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #fff;
      margin-bottom: 20px;
      // padding: 0 40px;
      padding: 0 20px;
      color: #000;
    }

    .main {
      width: 100%;
      height: calc(100% - 100px);
      box-sizing: border-box;
      background: #f7f8fa;
      // min-height: 740px;
      // padding-bottom: 20px;
      margin-bottom: 20px;
      display: flex;
      .left-nav {
        border-radius: 6px 6px 0px 0px;
        background: #fff;
        width: 200px;
      }
      .content {
        margin-left: 20px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100% - 230px);
        margin-right: 10px;
        background: #fff;
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      height: 70px;
      line-height: 70px;
      padding: 0 40px;
      text-align: right;
      background: #fff;
      box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,0.12);
    }
  }



  // 全局公共样式


  .el-button--primary{ // 0d84ff
    --el-button-active-background-color: var(--theme-color);
    --el-button-active-border-color:  var(--theme-color);
  }
}
