.watermark-editor {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-weaken-color-10);
  color: var(--theme-weaken-color-10);
  -webkit-text-stroke: 2px var(--theme-color);
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 50px;
  text-shadow: var(--theme-weaken-color-8) 15px 5px 1px;
  // text-shadow: rgba(0, 0, 0, .72) 15px 5px 1px;
  .two-line{
    width: 100%;
    height: 100%;
    padding: 200px 50px;
    display: flex;    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .before{
      width: 100%;
      font-size: 150px;
    }
    .after{
      width: 100%;
      font-size: 150px;
      text-align: right;
    }
  }
}
