.top-nav {
  // box-shadow: 0 4px 6px 0 rgba(232, 237, 250, 0.9);
  .logo-wrap {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // .logo {
    //   background: url(../../assets/images/laocheng/dsxs.jpg);
    //   background-size: 94px 40px;
    //   background-position: 56% center;
    // }
    .logo {
      // float: left;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      overflow: hidden;
      background: url(../../assets/images/laocheng/systemlogo.png);
      background-size: 40px 40px;
      background-position: 56% center;
      margin-right: 8px;
      // no-repeat 50% 50%;
    }
    .production-name {
      font-size: 18px;
      font-weight: 600;
      color: var(--theme-color);
      display: inline-block;
      margin-left: 10px;
      // float: left;
      // margin-top: 12px;
    }
  }
  .nav-list {
    cursor: pointer;
    .nav-item {
      text-align: center;
      position: relative;
      p {
        display: inline-block;
        line-height: 60px;
      }
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        height: 5px;
        background-color: var(--theme-color);
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in 0s;
      }
    }
    .hover::after {
      opacity: 1;
    }
  }
  .user-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    cursor: pointer;
    // display: flex;
    .head-portrait {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 15px;
      overflow: hidden;
      background: url(../../assets/images/laocheng/hg.jpg);
      background-size: 30px 30px;
      margin-right: 8px;
      border-radius: 50%;
      // no-repeat 50% 50%;
    }
    .user-name {
    }
    .el-icon {
      line-height: 60px;
      margin-left: 5px;
    }
  }
}
.user-block {
  .item {
    height: 27px;
    line-height: 27px;
    text-align: center;
    padding: 0 15px;
    font-size: 13px;
    cursor: pointer;
    &:hover {
      background-color: var(--theme-weaken-color-10);
      color: var(--theme-color);
    }
  }
}
